*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html, body{
  height: 100%;
  transition: all 0.5s;
}

@font-face {
  font-family: "Bold";   
  src: local("SatoshiBold"),
    url("./font/satoshi/Satoshi-Bold.otf") format("otf");
}

@font-face {
  font-family: "Light";   
  src: local("SatoshiLight"),
    url("./font/satoshi/Satoshi-Light.otf") format("otf");
}


@font-face {
  font-family: "Black";   
  src: local("SatoshiBlack"),
    url("./font/satoshi/Satoshi-Black.otf") format("otf");
}


@font-face {
  font-family: "Medium";   
  src: local("SatoshiMedium"),
    url("./font/satoshi/Satoshi-Medium.otf") format("otf");
}


@font-face {
  font-family: "Regular";  
  src: local("SatoshiRegular"),
    url("./font/satoshi/Satoshi-Regular.otf") format("otf");
}

@font-face {
  font-family: "Satoshi";  
  src: local("SatoshiRegular"),
    url("./font/satoshi/Satoshi-Variable.ttf") format("truetype");
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
